body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1 {
    font-size: 60px;
}

h4 {
    font-weight: 50;
}

p {
    padding-bottom: 30px;
}

a {
    padding-top: 100px;
}

.header-part-background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

.header-text-adjust {
    text-align: center;
    color: rgb(15, 230, 222);
    font-size: 30px;
    padding: 100px 100px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(25, 73, 174), rgb(214, 57, 29));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.second-part-text-adjust {
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 150px 150px;
}

#hundredtk-design {
    display: flex;
    align-items: center;


}

.hundredtk-text-adjust {
    width: 9%;
    margin-left: 8%;

}

#two-hundredtk-design {
    background-color: whitesmoke;
    color: rgba(255, 99, 71, 0.635);
    border: 7px solid tomato;
    border-width: 3px;
    padding: 30px 5px 30px 5px;
}

#input-tk-adjust {
    height: 40%;
    width: 60%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    padding-bottom: 40px;
    text-align: center;

}

.third-part-text-adjust {
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 150px 150px;
}

.flexible-third-section {
    display: flex;

}

.third-width {
    width: 50%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px white;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;

}

#food-box {
    background-color: rgba(47, 176, 21, 0.137);
}

#shelter-box {
    background-color: rgba(255, 192, 203, 0.322);
}

#education-box {
    background-color: rgba(36, 20, 217, 0.18);

}

.color-text {
    color: rgb(24, 200, 216);
}

.footer-text-adjust {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 100px;
}

.update-part-text-adjust {
    text-align: center;
    padding: 50px;
    background-color: white;

}

#mail-button-box {
    width: 70%;
    margin-left: 15%;
    background-color: bisque;
    padding: 90px 2px 90px 2px;
}

#input-design {
    width: 300px;
    height: 30px;
}

#button-design {
    background-color: tomato;
    color: white;
    border-radius: 2px;
    border-color: tomato;
    width: 120px;
    height: 38px;
}