body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

.header-part-background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

.header-text-adjust {
    text-align: center;
    color: rgb(15, 230, 222);
    font-size: 30px;
    padding: 100px 100px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(25, 73, 174), rgb(214, 57, 29));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.second-part-text-adjust {
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 150px 150px;
}

.two-hundredtk-design {
    height: 36px;
    width: 90px;
    left: 518px;
    top: 1022px;
    border-radius: nullpx;

}

.third-part-text-adjust {
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 150px 150px;
}

.flexible-third-section {
    display: flex;

}

.third-width {
    width: 50%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;

}